
* {
    font-family: "Hahmlet", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

li:hover{background-color: rgb(255, 241, 229);}

h2 {
  background-color: rgb(151, 194, 255);
  color: white;
  text-align: center;
}

h1 {
  text-align: center;
}

.phj {
  padding: 50px;
  margin: 50px;
}

.appear{
  border: 20px solid;
}

div{
  display: inline-block;
  text-align: center;
}

table {
  margin: 5px;
  width: 100%;
  table-layout: fixed;
}

p {
  color: lightgray;
  font-size: 70%;
}
